# Ignore local virtual environments (Docker builds its own internal environments)
**/benv/
**/denv/

# Ignore Python bytecode caches
**/__pycache__/
*.pyc
*.pyo
*.pyd
**/.tmp/

**/.env
**/data/
docker-compose.override.yaml