fastapi
uvicorn
pydantic
chromadb
fastmcp
langgraph
langchain
langchain-mcp-adapters
pytest-asyncio
langchain-groq
sentence-transformers
pytest

# Script dependencies
yfinance
sec-edgar-downloader
# kaggle